<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro de usuarios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div th:insert="/fragments/headerAdmin.html "></div>

    <div class="row" style="display: flex">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card m-3">
                <div class="card-body">
                    <h2 class="mb-3" style="align-content: center">Registrar usuario </h2>
                    <form action="" method="POST">
                        <div class="form-row">
                            <div class="form-group col">
                                <!--Colocar aquí el id de manera oculta-->
                                <input hidden>
                                <label>Nombre del usuario:</label>
                                <input class="form-control form-control-lg" type="text"
                                       placeholder="Ingresa el nombre del usuario">
                            </div>

                            <div class="form-group col">
                                <label>Apellidos </label>
                                <input class="form-control form-control-lg" type="text"
                                       placeholder="apellidos del usuario">
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <!--Colocar aquí el id de manera oculta-->
                                <input hidden>
                                <label>Matricula:</label>
                                <input class="form-control form-control-lg" type="text"
                                       placeholder="Ingresa las matricula del usuario">
                            </div>

                            <div class="form-group col">
                                <label>rol </label>
                                <input class="form-control form-control-lg" type="text"
                                       placeholder="ingresa el rol del usuario">
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <!--Colocar aquí el id de manera oculta-->
                                <input hidden>
                                <label>Correo Electronico:</label>
                                <input class="form-control form-control-lg" type="email"
                                       placeholder="Ingresa el correo  Electronico">
                            </div>

                            <div class="form-group col">
                                <label>Telefono</label>
                                <input class="form-control form-control-lg" type="text"
                                       placeholder="Ingresa el numero telefonico">
                            </div>

                        </div>



                        <div class="form-row">
                            <div class="form-group col-12">
                                <label>Direccion</label>
                                <textarea class="form-control" rows="3"
                                          placeholder="Ingresa la direccion"></textarea>
                            </div>

                        </div>
                        <center>
                            <div class="form-row col-9">
                                <a type="button" th:href="@{/admin/consultarServicios}"
                                   class="btn btn-secondary col m-3">Cancelar</a>
                                <button type="submit" class="btn btn-primary col m-3">Registrar servicio</button>
                            </div>
                        </center>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-2"></div>

    </div>
</div>
</body>
</html>