<!DOCTYPE html>
<html>

<head>
    <title>Consultar Servicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/menu.css}"/>
    <link rel="stylesheet" th:href="@{/css/toast.min.css}" />

</head>

<body>
<div class="container-fluid">
    <div th:insert="/fragments/headerAdmin.html "></div>
    <div class="row" style="display: flex">
        <div class="col-2"></div>
        <div class="col-8" th:each="tmpServicio: ${servicio}">
            <div class="card m-3">
                <div class="card-body">
                    <h2 class="mb-3 mr-5 ml-5">Servicio Consultado</h2>
                    <div class="form-row">
                        <div class="col-2"></div>
                        <div class="form-group col">
                            <label>Nombre del tramite:</label>
                            <h4 th:text="${servicio.nombre}"></h4>
                        </div>

                        <div class="form-group col">
                            <label>Costo</label>
                            <h4 th:text="${servicio.costo}"></h4>
                        </div>
                        <div class="col-2"></div>

                    </div>

                    <div class="form-row">
                        <div class="col-2"></div>
                        <div class="form-group col-8">
                            <label>Descripción</label>
                            <h4 th:text="${servicio.descripcion}"></h4>
                        </div>
                        <div class="col-2"></div>

                    </div>

                    <div class="form-row">
                        <div class="col-2"></div>
                        <div class="form-group col-8">
                            <label>Documentos requeridos</label>
                            <h4 th:text="${servicio.documentosRequeridos}"></h4>
                        </div>
                        <div class="col-2"></div>

                    </div>
                </div>
            </div>
            <center>
            <div class="form-row col-4">
                <a class="btn btn-secondary" th:href="@{/administrador/consultarServicios}">Regresar</a>
            </div>
            </center>
        </div>
        <div class="col-2"></div>
    </div>
</div>

</body>

</html>
