<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="es">

<head>
	<title>Paso final</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<body>
	<div class="container">
		<div th:insert="/fragments/headerSolicitante.html "></div>

<br>
		<a class="btn btn-danger" th:href="@{/solicitante/listCitas}">Cancelar</a>
		<script src="https://www.paypal.com/sdk/js?client-id=ARNU3qRtAXdL15UfenLraVdQficta4QWq60TmmUAGzaJ66ehUwPOy4GYRN67D0CZAg6F0D01ePstMCmU&currency=MXN"></script>
		<div th:href="@{/solicitante/listCitas}" style="margin-left: 200px" id="paypal-button-container"></div>
	</div>

		<script>
			paypal.Buttons({
				createOrder: (data, actions) => {
					return actions.order.create({
						purchase_units: [{
							amount: {
								value: '77.44'
							}
						}]
					});
				},
				onApprove: (data, actions) => {
					return actions.order.capture().then(function(orderData) {
						window.location.href="listCitas"
					});
				}
			}).render('#paypal-button-container');
		</script>
		<script src=" https://code.jquery.com/jquery-3.2.1.slim.min.js"
				integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
		</script>
</body>

</html>