<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <title>Inicio</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/toast.min.css}" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<body>
<div class="container-fluid">
    <div th:insert="/fragments/headerSolicitante.html "></div>

    <br>
    <div class="row" style="display: flex">
        <div class="col-1"></div>
        <div class="col-6" th:each="tmpSolicitante: ${solicitante}">
            <div class="card m-3">
                <div class="card-body">
                    <h2 class="mb-3 mr-2 ml-2 text-muted" th:text="${session.user.getNombre()}"></h2>
                    <div class="form-row">
                        <div class="col-1"></div>
                        <div class="form-group col-6">
                            <label class="text-muted">Apellidos</label>
                            <h4 class="text-primary" th:text="${session.user.getApellidos()}"></h4>
                        </div>
                        <div class="form-group col-4">
                            <label class="text-muted">Telefono:</label>
                            <h4 class="text-primary" th:text="${solicitante.telefono}"></h4>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="form-row">
                        <div class="col-1"></div>
                        <div class="form-group col-6">
                            <label class="text-muted">Email:</label>
                            <h4 class="text-primary" th:text="${session.user.getCorreo()}"></h4>
                        </div>

                        <div class="form-group col-4">
                            <label class="text-muted">Rol</label>
                            <h4 class="text-primary" th:text="Solicitante"></h4>
                        </div>
                        <div class="col-1"></div>

                    </div>
                    <div class="form-row">
                        <div class="col-1"></div>
                        <div class="form-group col-6">
                            <label class="text-muted">Carrera:</label>
                            <h4 class="text-primary" th:text="${solicitante.carrera}"></h4>
                        </div>

                        <div class="form-group col-4">
                            <label class="text-muted">Matricula:</label>
                            <h4 class="text-primary" th:text="${solicitante.matricula}"></h4>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card-body">
                <h2 class="mb-3 text-muted" style="align-content: center">Cambiar Contraseña</h2>
                <form th:action="@{/solicitante/cambiarContra}" method="POST" th:object="${user}">
                    <div class="form-row">
                        <label>Nueva Contraseña<span class="text-danger">*</span></label>
                        <input class="form-control form-control-lg" onchange="validarContrasena()"
                               type="password" max="10" id="contrasena" name="contrasena" required  th:field="*{contrasenia}"
                               placeholder="12345">
                    </div>
                    <div class="form-row">
                        <label>Confirmar contraseña</label>
                        <input class="form-control form-control-lg" onchange="validarContrasena()"
                               type="password" max="10" id="confirmarContrasena" name="confirmarContrasena"
                               required placeholder="12345">
                    </div>
                    <div th:if="${#fields.hasErrors('contrasenia')}" th:error="*{contrasenia}" class="alert alert-danger">
                        La contraseña no debe ser nula ni tener menos de 5 caracteres
                    </div>
                    <input hidden type="number" name="idUsuario"  th:field="*{id}">
                    <input hidden    th:field="*{apellidos}">
                    <input hidden    th:field="*{nombre}">
                    <input hidden    th:field="*{enabled}">
                    <input hidden    th:field="*{correo}">
                    <input hidden name="tipoUsuario" value="opcionSolicitante">
                    <div class="form-row">
                        <button type="submit" id="registrar" class="btn btn-primary col m-3" >Cambiar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row" style="display: flex">
        <div class="col-2"></div>
        <div class="card col-8">
            <form class="card-body" th:action="@{/solicitante/cambiarInfo}" method="POST" th:object="${user}">
                <h2 class="mb-3 text-muted" style="align-content: center">Informacion Personal</h2>
                <div class="form-row">
                    <div class="form-group col">
                        <input hidden th:field="*{id}">
                        <label>Nombre: (*)</label>
                        <input class="form-control form-control-lg" type="text" name="nombre"
                               placeholder="Ingresa el nombre del usuario" max="45" th:field="*{nombre}">
                    </div>
                    <div class="form-group col">
                        <label>Apellido: (*)</label>
                        <input class="form-control form-control-lg" type="text" name="qpellidos"
                               placeholder="Ingresa los apellidos del usuario" max="45" th:field="*{apellidos}">
                    </div>
                </div>
                <div th:if="${#fields.hasErrors('nombre')}" th:error="*{nombre}" class="alert alert-danger">
                    El nombre es requerido y debe tener mas de 2 caracteres, no se aceptan caracteres especiales
                </div>
                <div th:if="${#fields.hasErrors('apellidos')}" th:error="*{apellidos}" class="alert alert-danger">
                    El(los) apellido(s) son requeridos y deben tener mas de 2 caracteres, no se aceptan caracteres especiales
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label>Correo Electronico: (*)</label>
                        <input class="form-control form-control-lg" type="email"
                               placeholder="Ingresa el correo  electrónico" max="45" name="correo" th:field="*{correo}">
                        <div th:if="${#fields.hasErrors('correo')}" th:error="*{correo}" class="alert alert-danger">
                            El correo no debe ser nulo, debe tener minimo 10 caracteres y mantener formato E-mail
                        </div>
                    </div>
                </div>
                <input hidden th:field="*{id}">
                <input hidden  name="contrasenia"  th:field="*{contrasenia}">
                <input hidden  name="enabled"  th:field="*{enabled}">
                <div class="form-row">
                    <button type="submit" id="registrar cambios" class="btn btn-muted col m-3">Modificar Información Personal</button>
                </div>
            </form>
        </div>
    </div>




    <div class="row" style="display: flex">
        <div class="col-2"></div>
        <div class="card col-8">
            <form class="card-body" th:action="@{/solicitante/cambiarInfo2}" method="POST" th:object="${solicitante}">
                <h2 class="mb-3 text-muted" style="align-content: center">Informacion Institucional</h2>
                <div class="form-row">
                    <div class="form-group col">
                        <label>Carrera</label>
                        <select class="form-control form-control-lg"
                                placeholder="Ingresa tu carrera" required name="carrera" th:field="*{carrera}">
                            <option value="Desarrollo de software">Desarrollo de software</option>
                            <option value="Diseño digital">Diseño digital</option>
                            <option value="Interconexion de redes">Interconexion de redes</option>
                            <option value="Diseño de modas">Diseño de modas</option>
                            <option value="Mantenimiento Industrial">Mantenimiento Industrial</option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label>Matricula</label>
                        <input class="form-control form-control-lg" type="text"
                               placeholder="Ingresa tu matricula" required name="matricula" th:field="*{matricula}">
                    </div>
                </div>
                <div th:if="${#fields.hasErrors('carrera')}" th:error="*{carrera}" class="alert alert-danger">
                    La carrera es requerida, por favor selecciona una opción
                </div>
                <div th:if="${#fields.hasErrors('matricula')}" th:error="*{matricula}" class="alert alert-danger">
                    La matricula es obligatoria y debe tener mas de 5 caracteres, no se aceptan caracteres especiales
                </div>
                <div clas="form-row">
                    <div class="form-group col">
                        <label>Telefono<span class="text-danger">*</span></label>
                        <input type="text" class="form-control form-control-lg phone-mask" minlength="10"
                               maxlength="14" placeholder="( ___ ) - ___ - __ - __" required name="telefono" th:field="*{telefono}">
                    </div>
                </div>
                <div th:if="${#fields.hasErrors('telefono')}" th:error="*{telefono}" class="alert alert-danger">
                    El telefono es requerido, (solo numeros) minimo 10, maximo 14
                </div>
                <input hidden th:field="*{id}">
                <input hidden th:field="*{usuario}">
                <div class="form-row">
                    <button type="submit" id="registrar cambios" class="btn btn-muted col m-3">Modificar Información Institucional</button>
                </div>
            </form>
        </div>
    </div>

</div>

<!--Toast-->
<script th:src="@{/js/toast.min.js}"></script>

<script th:if="${msg_success != null}">
    new Toast({
        message: '[[${msg_success}]]',
        type: 'success'
    });
</script>

<script th:if="${msg_error != null}">
    new Toast({
        message: '[[${msg_error}]]',
        type: 'danger'
    });
</script>
<script>
    function validarContrasena() {
        var pass1 = $("#contrasena").val();
        var pass2 = $("#confirmarContrasena").val();
        var submitButton = $("#registrar");
        if (pass1 !== pass2) {
            submitButton.attr('disabled', true);
            $("#contrasena").addClass('is-invalid');
            $("#confirmarContrasena").addClass('is-invalid');
            $(".alertPass").attr('hidden', false);
            event.preventDefault();
            return;
        } else {
            $("#contrasena").removeClass("is-invalid");
            $("#confirmarContrasena").removeClass("is-invalid");
            $(".alertPass").attr('hidden', true);
            submitButton.attr('disabled', false);
        }
    }
</script>
<script src=" https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>