<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <title>Inicio</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/toast.min.css}" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<body>
<div class="container-fluid">
    <div th:insert="/fragments/headerSolicitante.html "></div>
    <br>
    <div class="row" style="display: flex">
        <div class="col-1"></div>
        <div class="col-6">
            <div class="card m-3">
                <div class="card-body">
                    <h2 class="mb-3 mr-2 ml-2 text-muted" th:text="${session.user.getNombre()}"></h2>
                    <div class="form-row">
                        <div class="col-1"></div>
                        <div class="form-group col-6">
                            <label class="text-muted">Apellidos</label>
                            <h4 class="text-primary" th:text="${session.user.getApellidos()}"></h4>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col-1"></div>
                        <div class="form-group col-6">
                            <label class="text-muted">Email:</label>
                            <h4 class="text-primary" th:text="${session.user.getCorreo()}"></h4>
                        </div>
                        <div class="form-group col-4">
                            <label class="text-muted">Rol</label>
                            <h4 class="text-primary" th:text="Solicitante"></h4>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card-body">
                <h2 class="mb-3 text-muted" style="align-content: center">Cambiar Contraseña</h2>
                <form th:action="@{/solicitante/cambiarContra}" method="POST" th:object="${user}">
                    <div class="form-row">
                        <label>Nueva Contraseña<span class="text-danger">*</span></label>
                        <input class="form-control form-control-lg" onchange="validarContrasena()"
                               type="password" max="10" id="contrasena" name="contrasena" required  th:field="*{contrasenia}"
                               placeholder="12345">
                    </div>
                    <div class="form-row">
                        <label>Confirmar contraseña</label>
                        <input class="form-control form-control-lg" onchange="validarContrasena()"
                               type="password" max="10" id="confirmarContrasena" name="confirmarContrasena"
                               required placeholder="12345">
                    </div>
                    <div th:if="${#fields.hasErrors('contrasenia')}" th:error="*{contrasenia}" class="alert alert-danger">
                        La contraseña no debe ser nula ni tener menos de 5 caracteres
                    </div>
                    <input hidden type="number" name="idUsuario"  th:field="*{id}">
                    <input hidden    th:field="*{apellidos}">
                    <input hidden    th:field="*{nombre}">
                    <input hidden    th:field="*{enabled}">
                    <input hidden    th:field="*{correo}">
                    <input hidden name="tipoUsuario" value="opcionSolicitante">
                    <div class="form-row">
                        <button type="submit" id="registrar" class="btn btn-primary col m-3" >Cambiar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Toast-->
<script th:src="@{/js/toast.min.js}"></script>

<script th:if="${msg_success != null}">
    new Toast({
        message: '[[${msg_success}]]',
        type: 'success'
    });
</script>

<script th:if="${msg_error != null}">
    new Toast({
        message: '[[${msg_error}]]',
        type: 'danger'
    });
</script>
<script>
    function validarContrasena() {
        var pass1 = $("#contrasena").val();
        var pass2 = $("#confirmarContrasena").val();
        var submitButton = $("#registrar");
        if (pass1 !== pass2) {
            submitButton.attr('disabled', true);
            $("#contrasena").addClass('is-invalid');
            $("#confirmarContrasena").addClass('is-invalid');
            $(".alertPass").attr('hidden', false);
            event.preventDefault();
            return;
        } else {
            $("#contrasena").removeClass("is-invalid");
            $("#confirmarContrasena").removeClass("is-invalid");
            $(".alertPass").attr('hidden', true);
            submitButton.attr('disabled', false);
        }
    }
</script>
<script src=" https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>